html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 1024px;
}

/* table,
tr,
td {
  border: 1px solid var(--primary);
}

td {
  padding: 2px 4px;
} */
